%h1 Your Personality Blend
%div
  %img(src="#{personality_types["personality_blend"]["personality_type_1"]["badge"]["image_small"]}")
  %p
    #{types["personality_blend"]["personality_type_1"]["name"]}
%div
  %img(src="#{personality_types["personality_blend"]["personality_type_2"]["badge"]["image_small"]}")
  %p
    #{types["personality_blend"]["personality_type_2"]["name"]}
